#loginAlert {
    display: none;
}

.btn.btn-success > input {
    position: absolute;
    clip: rect(0,0,0,0);
}

a:hover,
.btn.btn-success {
    cursor: pointer;
}

.c-body-bg {
    background-color: #29abe2;
}

.c-logo-login {
    width: 200px;
}

.c-card {
    border: 0;
}

.form-signin {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.c-input-group-addon {
    background: #fff;
    /*border-right: none 1px #fff;*/
}

.c-form-control {
    border-left-color: #fff;
}

.c-wt {
    color: #fff;
}

.c-link-wt {
    color: #fff;
    text-decoration: underline;
}

.c-btn-blue {
    color: #fff;
    background-color: #29abe2;
    border-color: #29abe2;
}

.c-btn-blue:hover {
    background-color: #269fd2;
    border-color: #269fd2;
}