.btn.btn-success > input {
    position: absolute;
    clip: rect(0,0,0,0);
}

button,
.btn.btn-success {
    cursor: pointer;
}

#loginAlert {
    display: none;
}

.show-dropdown-namespaces,
.show-dropdown-create {
    display: block;
    right: initial;
    left: initial;
    top: initial;
}

.show-dropdown-namespaces{
    left: 30px;
    top: 45px;
}

.i-mb-20 {
    margin-bottom: 20px;
}

.i-height-btn-group {
    height: 38px;
}

.i-sizes-img-logo {
    width: 160px;
    height: 30px;
}