.btn.btn-success > input {
    position: absolute;
    clip: rect(0,0,0,0);
}

button,
.btn.btn-success {
    cursor: pointer;
}

#loginAlert,
#successfulAlert {
    display: none;
}

.show-dropdown-namespaces,
.show-dropdown-create {
    display: block;
    right: initial;
    left: initial;
    top: initial;
}

.show-dropdown-namespaces{
    left: 30px;
    top: 45px;
}

.i-mb-20 {
    margin-bottom: 20px;
}

.i-height-btn-group {
    height: 38px;
}

.i-sizes-img-logo {
    width: 160px;
    height: 30px;
}

.c-nav-user-wrap .c-nav-user-img {
    position: absolute;
    margin-right: 30px;
    float: none;
    top: 3px;
    margin-top: 0;
}

.c-nav-user-wrap .c-nav-user-name {
    padding-left: 40px;
    display: inline-block;
}

.c-nav-user-name {
    font-size: 15px;
}

.i-table-card td {
    border: 0;
}

.i-table-card-img {
    width: 80px;
    height: 80px;
}

.i-table-wight-all {
    width: 100%;
}

.i-table-inline {
    display: inline-block;
    padding: .75rem;
    vertical-align: top;
}

.i-table-td {
    cursor: pointer;
}

.i-pl-10 {
    padding-left: 10px ;
}

.md-icon {
    padding-top: 2px;
    font-family: 'Material Icons';
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 1;
    font-style: normal;
    text-transform: none;
    line-height: 1;
    font-size: 24px;
    width: 24px;
    height: 24px;
    display: inline-block;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-navbar-brand-pd-l {
    padding-left: 1rem;
}

.tr-hover,
.i-table-card {
    border: 1px solid #f9f9f9!important;
}

.tr-hover:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.table td {
    border-top: none;
    vertical-align: middle;
}

.i-table-inline-z-index {
    z-index: 1000;
}

.i-row-table {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.i-td-table {
    padding: .5rem;
    padding-left: 1rem;
    vertical-align: top;
    /*border-top: 1px solid #eceeef;*/
    display: table-cell;
}

.i-td-table-first-width {
    width: 250px;
}

.i-td-table-pb {
    padding-bottom: 1rem;
}

.i-table-tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    box-sizing: inherit;
}

.i-table-card {
    display: table;
    border-spacing: 2px;
    border-color: grey;
    border-collapse: collapse;
    background-color: transparent;
}

.i-td-table-pd-top {
    padding-top: 12px;
}

.i-td-table-pd-bottom {
    padding-bottom: 12px;
}

.i-container-btn-gr {
    width: 97%;
    margin: 0 auto;
    border-bottom: 2px solid rgba(0, 0, 0, .125);
    margin-left: 18px;
}

.i-selected-tab{
    border-bottom: 2px solid #009CD1;
    border-radius: 0
}

.i-hover-pointer:hover {
    cursor: pointer;
}

.i-hover-pointer {
    padding-top: 0;
    padding-bottom: 0;
}

.i-btn-login-strong {
    font-weight: bold;
}

.i-dropdown-box-shadow {
    box-shadow: 0 3px 14px 4px #e6e6e6;
}

.i-dropdown-box-max-height {
    max-height: 520px;
    overflow: hidden;
}

.i-td-card-font-name {
    font-size: 1rem;
}

.i-card-border {
    border: 1px solid #f9f9f9;
    /*border-top: 0;*/
}

.i-profile-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
}

.i-close {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../images/close.svg);
    height: 12px;
    width: 12px;
    padding: 20px 16px;
    opacity: .4;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.i-cli-tool,
.i-cli-tool:hover {
    color: #000;
    text-decoration: none;
}

.i-label-size {
    font-size: 1rem;
}

.cls-deployments {
    fill: #009bd3;
}

.cls-services {
    fill: #556970;
}

.cls-pod {
    fill: #009688;
}

.cls-container {
    fill: #3f51b5;
}

.cls-2 {
    fill: #fff;
    font-size: 19px;
}

.i-alert-danger-mb-non {
    margin-bottom: 0!important;
}

.i-card-block-padding-2 {
    padding-top: 20px!important;
}

.notify-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
}

.notify-item {
    width: 300px;
    margin: 5px 10px;
    color: #FFF;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.notify-item::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../images/close.svg);
    height: 12px;
    width: 12px;
    padding: 20px 16px;
    opacity: .4;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.notify-item:hover {
    opacity: 0.9;
    box-shadow: 0 0 10px 0 rgb(15, 15, 15);
}

.notify-item > p {
    font-family: 'Lora', serif;
    font-size: 16px;
    margin: 10px;
    opacity: .8;
}

.notify-item.success {
    background-color: rgba(81, 163, 81, 0.7);
}

.notify-item.error {
    background-color: rgba(203, 100, 94, 0.8);
}

.notify-item.info {
    background-color: rgba(33, 150, 243, 0.8);
}

.notify-title {
    font-weight: 700;
}

.i-label-navigator {
    margin-top: 12px;
}


.i-label-back {
    display: inline-block;
    vertical-align: text-top;
}
