.btn.btn-success > input {
    position: absolute;
    clip: rect(0,0,0,0);
}

button,
.btn.btn-success {
    cursor: pointer;
}

#loginAlert {
    display: none;
}

.show-dropdown-namespaces,
.show-dropdown-create {
    display: block;
    right: initial;
    left: initial;
    top: initial;
}

.show-dropdown-namespaces{
    left: 30px;
    top: 45px;
}

.i-mb-20 {
    margin-bottom: 20px;
}

.i-height-btn-group {
    height: 38px;
}

.i-sizes-img-logo {
    width: 160px;
    height: 30px;
}

.c-nav-user-wrap .c-nav-user-img {
    position: absolute;
    margin-right: 30px;
    float: none;
    top: 3px;
    margin-top: 0;
}

.c-nav-user-wrap .c-nav-user-name {
    padding-left: 40px;
    display: inline-block;
}

.c-nav-user-name {
    font-size: 15px;
}

.i-table-card td {
    border: 0;
}

.i-table-card-img {
    width: 80px;
    height: 80px;
}

.i-table-wight-all {
    width: 100%;
}

.i-table-inline {
    display: inline-block;
    padding: .75rem;
    vertical-align: top;
}

.i-table-td {
    cursor: pointer;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid black;
    margin-top: 11px;
}

.i-pl-10 {
    padding-left: 10px ;
}

.md-icon {
    font-family: 'Material Icons';
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 1;
    font-style: normal;
    text-transform: none;
    line-height: 1;
    font-size: 24px;
    width: 24px;
    height: 24px;
    display: inline-block;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-navbar-brand-pd-l {
    padding-left: 1rem;
}

.tr-hover:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.table td {
    border-top: none;
    vertical-align: middle;
}

.i-table-inline-z-index {
    z-index: 1000;
}

.i-row-table {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.i-td-table {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
    display: table-cell;
}

.i-table-tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    box-sizing: inherit;
}

.i-table-card {
    display: table;
    border-spacing: 2px;
    border-color: grey;
    border-collapse: collapse;
    background-color: transparent;
}

.i-container-btn-gr {
    width: 97%;
    margin: 0 auto;
    border-bottom: 2px solid rgba(0,0,0,.125);
}

.i-selected-tab{
    border-bottom: 2px solid #009CD1;
    border-radius: 0
}

.i-hover-pointer:hover {
    cursor: pointer;
}

.i-hover-pointer {
    padding-top: 0;
    padding-bottom: 0;
}

.i-btn-login-strong {
    font-weight: bold;
}

.i-dropdown-box-shadow {
    box-shadow: 0 0 14px 4px #e6e6e6;
}
