<<<<<<< HEAD
@import './variables';

*, *:focus {
  outline: none !important;
}

a:focus, a:hover {
  text-decoration: none;
  color: $color-dark-gray;
}
=======
*, *:focus {
  outline: none !important;
}
>>>>>>> 9a18b7d14dc6b51800f23168b852a5b918bd3eb2
