@import './variables';

body{
  font-family:Open Sans,  Arial, Tahoma, sans-serif;
  font-weight: 400;
  font-size:15px;
  background:#f6f6f6;
  color:#333;

}


*, *:focus {
  outline: none !important;
}

a {
  color: #333;
}

a:focus{
  text-decoration: none;
  color: $color-dark-gray;
}

a:hover {
  text-decoration: none;
  color: $main-color;
}

h1 {
  font-size: 20px !important;
  text-transform: uppercase;
  font-weight: 400;
}
