@import './variables';

*, *:focus {
  outline: none !important;
}

a {
  color: #333;
}

a:focus{
  text-decoration: none;
  color: $color-dark-gray;
}

a:hover {
  text-decoration: none;
  color: $main-color;
}
