
@import './variables.scss';

.contentBlock {
  padding-right: 0;

  &:last-child {
    margin-bottom: 40px;
  }

  &Container {
    background: $color-white;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05);
    padding: 25px 30px 25px 30px;
    margin-top: 30px;
    margin-bottom: 30px;

    &Img {
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 0;
      width: 100%;
    }

    &Solution {
      min-height: 307px;
      margin-top: 30px;
      background-color: $color-white;
      padding-top: 34px;
      border-radius: 4px;
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05);

      &:hover {
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.15);
      }
    }
  }

  &InfoItem {
    //margin: 0 50px 0 50px;
    display: flex;
    //vertical-align: top;
    align-items: flex-start;
    //display: block;
    margin: 0;
  }

  &InfoName {
    color:#333;
    margin: 0 0 5px 0;
    font-weight: 600;

    .inline {
      display: inline-block;
    }
  }

  &InfoText {
    font-weight: 300;

    .inline{
      display: inline-block;
    }
  }

  &Header {
    position: relative;

    &Ellipsis {
      color: $main-color;
    }

    &Label {
      max-width: 800px;

      &Text {
        display: inline-block;
        font-size: 15px;
      }

      &Main {
        text-transform: uppercase;
        color:#333;
        font-size: 20px;
        max-width: 322px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
      }
    }

    &Img {
      width:28px;
      height:32px;
      margin:0 0 10px 0;
    }

    &ExtraPanel {
      position: absolute;
      right: 0;
      top: 0;
      text-align: right;
    }

  }

  &Content {
    margin: 30px 0 0 0;
    position: relative;
    transition: height 0.3s ease-out 0.3s;

    &CardBlock {
      margin: 20px 0 0 0;
      padding: 0;
    }
  }

  &Volume {
    &Header {
      height: 109px;
      border-bottom: 1px solid $color-white2;
    }

    &Footer {
      padding: 25px 30px 25px 30px !important;
    }
  }

}

.marginTop30 {
  margin-top: 30px;
}

.container{
  &NoBackground {
    background: none !important;
    box-shadow: none;
    padding-right: 0;
    padding-left: 0;
  }

  &Card {
    min-height: 220px;
  }
}

.icon {
  display: inline-block;

  &GitHub {
    fill: $ligth-gray-color;
    width: 25px;
    height: 24px;
    position: absolute;
    left: -25px;
    top: 0;
    transition: all 0.3s ease
  }
}

