@import './variables.scss';
//////////membership items///////////
.membership {
  &Item {
    color: $main-color;
    cursor: pointer;
  }

  &Icon {
    color: $very-light-gray;
  }

  &Arrow::before {
    color: $very-light-gray;
  }
}
//////////////////////////////

.isHidden {
  display: none;
}

.wrapper {
  min-height: 100%;
  padding-bottom: 1px;
}



.table {
  tbody td {
    border-top: 1px solid $color-white3 !important;
  }

  &Hover {
    cursor: pointer;
    height: 42px;
  }
}

.contentBlock {
  padding-right: 0;

  &:last-child {
    margin-bottom: 40px;
  }

  &Icon {
    width: 55px;
    display: inline-block;
    vertical-align: top;

    img {
      max-width: 100%;
    }

    span {
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 36px;
      color: $color-dark-gray;
      text-transform: uppercase;
    }
  }

  &Statistic {
    margin-top: 20px !important;
  }

  &Container {
    background: $color-white;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05);
    padding: 25px 30px 25px 30px;
    margin-top: 30px;
    margin-bottom: 30px;

    &Img {
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 0;
      width: 100%;
    }

    &Solution {
      min-height: 307px;
      margin-top: 30px;
      background-color: $color-white;
      padding-top: 34px;
      border-radius: 4px;
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05);

      &:hover {
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.15);
      }
    }

    &Membership {
      padding: 40px 50px 40px 50px !important;
    }
  }

  &InfoItem {
    //margin: 0 50px 0 50px;
    display: flex;
    //vertical-align: top;
    align-items: flex-start;
    //display: block;
    margin: 0;

    &Margin50 {
      margin: 0 50px;
      display: inline-block;
      vertical-align: top;

      &Team {
        display: flex;
        align-items: flex-end;
        height: 44px;
        margin-right: 0 !important;
        padding-left: 90px;
      }
    }
  }

  &InfoName {
    color:#333;
    margin: 0 0 5px 0;
    font-weight: 600;

    .inline {
      display: inline-block;
    }

    &Namespace {
      white-space: pre;
      font-size: 15px !important;
    }
  }

  &InfoText {
    font-weight: 300;
    //padding-left: 5px;

    .inline{
      display: inline-block;
    }

    &Namespace {
      font-size: 15px;
      color: $main-color;

      &:hover {
        color: $manage-team-hover;
      }
    }
  }

  &InfoLogs {
    margin: 0 50px 0 50px;
  }

  &MorePanel {
    text-align: right;
    font-size: 12px;
    color: $ligth-gray-color;

    &Toggle {
      color: $ligth-gray-color;
      margin-top: 4px;
      cursor: pointer;

      &B::before {
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        line-height: 16px;
        margin: 0 0 -4px 12px;
      }
    }
  }

  &Header {
    position: relative;

    &Ellipsis {
      color: $main-color;
    }

    &Label {
      max-width: 800px;

      &Membership {
        padding-bottom: 30px;
        color: $main-color !important;
      }

      &Text {
        display: inline-block;
        font-size: 15px;

        &Center {
          text-align: center;
        }

        &NamespaceInfo {
          line-height: 100% !important;
        }
      }

      &Main {
        text-transform: uppercase;
        color:#333;
        font-size: 20px;
        max-width: 322px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
      }

      &NamespaceInfo {
        display: flex;
        align-items: flex-end;
      }

      &DeploymentInfo {
        display: flex;
        align-items: center;
      }

      &Descript {
        display: inline-block;
        font-size: 15px;
        font-weight: 300;
        color: $ligth-gray-color;
        margin-left: 15px;
      }
    }

    &Img {
      width:28px;
      height:32px;
      margin:0 0 10px 0;
    }

    &ExtraPanel {
      position: absolute;
      right: 0;
      top: 0;
      text-align: right;
    }

  }

  &Content {
    margin: 30px 0 0 0;
    position: relative;
    transition: height 0.3s ease-out 0.3s;

    &Full {
      margin-left:-30px;
      margin-right:-30px;
    }

    &Collapsed {
      height: 84px;
      overflow: hidden;
      line-height: 1.15;
    }

    &CardBlock {
      margin: 20px 0 0 0;
      padding: 0;

      &Dollars {
        margin: 30px 0 0 0;
      }
    }

    &Flex {
      display: flex;
      align-items: center;

      &Service {
        display: flex;
        align-items: flex-start;
      }
    }
  }

  &Volume {
    &Header {
      height: 115px;
      border-bottom: 1px solid $very-light-gray;
    }

    &Footer {
      padding: 25px 25px 25px 25px !important;
    }
  }

  &Table {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    &More {
      &::before {
        color:$very-light-gray;
      }
    }

    thead td {
      font-weight: 600;
      border-top:none;
      color: $color-dark-gray;
      padding: 11px 0 11px 10px;
    }

    tbody td {
      font-weight: 300;
      padding: 5px 0 5px 10px;
      vertical-align: middle;
      position:relative;
    }

    tbody tr .td:last-of-type {
      padding-right: 40px;
    }

    tbody tr:hover td {
      background: $color-white2;
    }
  }

  // Drop Zone
  .dropZoneItem {
    background: #eaeaea;
    margin: 0 0 10px;
    padding: 6px 10px;
    color: #333;
    border-radius: 2px;
    font-weight: lighter;

    span {
      max-width: 550px;
      overflow: hidden;
      display: inline-block;
      max-height: 21px;
      text-overflow: ellipsis;
    }

    i {
      float: right;
    }

    i:hover {
      color: #29abe2;
      cursor: pointer;
    }
  }

  &Menu {
    height: 30px;
    margin: 2px 0 0 0;

    &Li {
      margin-right: 40px;

      &Active {
        border-color: $main-color !important;
        color: $color-dark-gray !important;
      }

      a{
        display: block;
        border-bottom: 1px solid transparent;
        padding: 0 0 15px 0;
        color:$ligth-gray-color;
      }

      &:hover {
        a {
          border-color: $main-color;
          color: $color-dark-gray;
        }
      }

      &Membership {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
    }

    &Membership {
      display: flex;
      justify-content: space-between;
    }
  }
}


.container{
  background-color: $color-white;

  &ToolsPages {
    margin-top: 30px;
    padding-top: 40px;
  }

  &NoBackground {
    background: none !important;
    box-shadow: none;
    padding-right: 15px;
    padding-left: 15px;
  }

  &Fluid {
    width:100% !important;
    min-width: 0 !important;
  }

  &Card {
    min-height: 220px;

    &Pod {
      max-height: 220px;
    }
  }

  &Title {
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    color: $color-dark-gray;
    text-transform: uppercase;
    position: relative;

    &Block {
      font-size: 15px;
      margin-top: 40px;
      margin-bottom: 30px;
      text-transform: initial;
    }

    &Star {
      color: $title-color;
    }

    &Text {
      font-size: 15px;
      font-weight: 300;
      color: $ligth-gray-color;
      text-transform: lowercase;
      margin-left: 10px;
    }
  }

  &SubTitle {
    font-weight: 300;
    color: $subtitle-color;
    margin-top: 15px;
    margin-bottom: 50px;
  }

  &SubTitleCreate {
    font-weight: 300;
    color: $ligth-gray-color
  ;
    margin-top: 15px;
    margin-bottom: 50px;
  }

  &ConfigmapAddFile {
    width: 280px;
    margin-left: 0;
    margin-right: 150px;
  }
}

.icon {
  display: inline-block;

  &GitHub {
    fill: $ligth-gray-color;
    width: 25px;
    height: 24px;
    position: absolute;
    left: -25px;
    top: 0;
    transition: all 0.3s ease
  }

  &Basket {
    margin-top: 19px;
    margin-left: 30px;
    width: 12px;
    height: 15px;
    cursor: pointer;

    &:hover {
      fill: $main-color;
    }
  }
}

.window {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 935px;
  height: 650px;
  border-radius: 4px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.15);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
  background-size: contain;

  &Form {
    width: 485px;
    background-color: #fff;
    height: 100%;
  }

  .authBlock {
    padding: 15px 25px 0;
    font-size: 12px;
    font-weight: 300;
    color: #a7a7a7;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;

    a {
      font-size: 12px;
      font-weight: 300;
      color: #a7a7a7;
    }

    &ActiveLink,
    a:hover {
      color: #29abe2 !important;
      text-decoration: none;
      font-weight: 400 !important;
    }
  }

  .authDivider {
    margin: 0 18px;
  }

  .mainForm {
    padding: 0 65px 20px 65px;
  }

  .formHeader {
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .formHeaderLogin {
    margin-top: 110px;
  }

  .forgetPass {
    display: block;
    color: #a7a7a7;
    text-align: center;
    margin-bottom: 30px;
  }

  .forgetPass:hover {
    color: #29abe2;
  }
}

.errorMessage {
  height: auto;
  line-height: 22px;
  border-radius: 2px;
  background-color: #f6f6f6;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
  padding: 20px 20px 20px 40px;

  &Text {
    position: relative;
  }

  &Text::before {
    content: '';
    display: inline-block;
    position: absolute;
    background: url('../images/warning.svg') 0 0 no-repeat;
    width: 23px;
    height: 20px;
    top: 0;
    left: -36px;
  }
}

.successMessage {
  height: auto;
  line-height: 22px;
  border-radius: 2px;
  background-color: #f6f6f6;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
  padding: 20px 20px 20px 40px;

  &Text {
    position: relative;
  }

  &Text::before {
    content: '';
    display: inline-block;
    position: absolute;
    background: url('../images/success.svg') 0 0 no-repeat;
    width: 23px;
    height: 20px;
    top: 0;
    left: -36px;
  }
}

.orDivider {
  display: block;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #a7a7a7;
  position: relative;
  margin-bottom: 10px;
}

.orDivider::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 11px;
  height: 1px;
  width: 40%;
  background-color: #eaeaea;
}

.orDivider::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 0;
  top: 11px;
  height: 1px;
  width: 40%;
  background-color: #eaeaea;
}

.socialTitle {
  color: #a7a7a7;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
}

.socialWrapper {
  text-align: center;
  margin-bottom: 35px;
}

.socialCenterIcon {
  margin-left: 18px;
  margin-right: 21px;
}

.dropdown{
  &Menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: $color-white;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);


  }

  &Toggle {
    &::after {
      border-top-color: $main-color;
      margin: 4px 0 5px 12px;
    }

    &Membership {
      &::after {
        border-top-color: $very-light-gray !important;
        margin-left: 38px !important;
      }
    }
  }



  .dropdownToggle {
    &::after {
      display: none;
    }
  }

  &Item:active{
    background-color: $main-color;
  }
}


/////////////////////////buttons///////////////////////
.button {
  cursor: pointer;

  &Blue {
    border-color: $main-color;
    color: $main-color;

    &:hover {
      background: $main-color;
      border-color: $main-color;
    }

    &:active {
      background: $btn-active-color;
      border-color: $btn-active-color;
      outline: none;
      box-shadow: none;
      color: $color-white;
    }

    &:focus {
      background: $btn-active-color;
      border-color: $btn-active-color;
      outline: none;
      box-shadow: none;
      color: $color-white;
    }
  }
}

.btn {
  padding: 8px 19px 8px 19px;
  border-radius: 2px;
  cursor: pointer;

  &Blue {
    border-radius: 2px;
    background-color: $main-color;
    color: $color-white;
    border: none;
    cursor: pointer;
  }

  &Depl {
    display: block;
    padding: 10px 16px;
    margin: 15px auto 0;
    text-transform: uppercase;

    &:hover {
      color: $color-white;
    }
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:active {
    outline: none;
    box-shadow: none;
  }
}

.close {
  cursor: pointer;
}

////////////////////////////////////////////////////////

.col {
  &Namespaces {
    -ms-flex: 0 0 77.633333%;
    flex: 0 0 77.633333%;
    max-width: 877.633333%;
  }

  &Info {
    -ms-flex: 0 0 22.3%;
    flex: 0 0 22.3%;
    max-width: 22.3%;
  }
}

.ellipsisRoleMore{
  &::before {
    font-size: 29px;
    line-height: 29px;
    margin-top: 2px;
    cursor: pointer;
  }

  &:hover {
    &::before{
      color: $main-color;
    }
  }
}

.createDeploymentWrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 151px;
}

.noCreatedPodMessage {
  max-width: 350px;
  text-align: center;
  font-weight: 300;
  margin: 0 auto;
}


.block {
  &Container {
    background-color: $color-white;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05);
    padding: 40px 20px 30px 20px;
    margin-bottom: 30px;

    &OtherPadding {
      padding: 40px 35px !important;
    }
  }

  &Item {
    margin: 0 30px 0 30px;
    padding: 0 0 40px 0;

    &::after {
      content: ' ';
      display: block;
      border-bottom: 1px solid $color-gray;
      margin: 40px -30px 0 -30px;
    }

    &:last-of-type {
      margin: 0 30px 0 30px;
      padding: 0 0 20px 0;
      border-bottom: none;

      &::after {
        display: none;
      }
    }

    &Title {
      color:$color-dark-gray;
      font-weight: 300;
      font-size: 20px;
      text-transform: uppercase;
      margin: 0 0 15px 0;

      &Configmap {
        font-size: 15px;
        padding-left: 15px;
      }

      &NoUppercase {
        text-transform: none;
      }
    }

    &SubTitle {
      font-weight: 300;
      text-transform: uppercase;
    }

    &Download {
      border-radius: 5px;
      border: solid 1px $very-light-gray;
      padding: 14px 16px 14px 16px;
      font-weight: 300;
      display: block;
      position: relative;
      margin: 15px 0 0 0;

      &:hover {
        color:inherit;
        border-color: $main-color;
      }

      &Note {
        display: block;
        color: $ligth-gray-color;
        font-size: 12px;
      }

      &Arrow {
        position: absolute;
        right:17px;
        top:17px;
      }

      &Alt {
        border-color: transparent;
        color: $ligth-gray-color;
        padding: 0 16px 0 16px;

        .blockItemDownloadNote {
          font-size: 15px;
        }

        &:hover {
          border-color: transparent;
          color: $main-color;

          .blockItemDownloadNote {
            color:$main-color;
          }
        }
      }
    }

    &Buttons {
      margin: 30px 0 0 0;
    }

    &TokensTable {
      width: 100%;
      height: auto;

      td.dropdown {
        text-align: right;
        padding-right: 5px;
      }

      tbody tr:first-child td{
        border-top-color: transparent;
      }
    }

    &History {
      &Table {
        width: 100%;

        tbody {
          tr:first-child {
            td {
              border-top-color: transparent;
            }
          }
        }

        &.contentBlockTable {
          td.dropdown {
            text-align: right;
            padding-right: 5px;
          }
        }
      }
    }
  }
}


//////////form styles/////////////////

.form {
  &Control {
    border-radius: 0.25rem !important;

    &:focus {
      border: solid 0.5px #a7a7a7;
    }

    &Configmap {
      min-width: 600px;

      &::placeholder {
        font-size: 15px;
        color: $ligth-gray-color;
      }
    }
  }

  &Group {
    position: relative;
    padding: 22px 0 0 0;

    &Label {
      &Image {
        cursor: pointer;
        height: 70px;

        svg {
          height: 70px;
          width: 64px;
        }
      }
    }

    &Helper {
      font-size: 12px;
      font-weight: 300;
      color: $ligth-gray-color;
      margin: 7px 0 0 0;
    }
  }
}


/////////////text decoration styles///////////////////

.text {
  &Light {
    font-weight: 300;
    color: $ligth-gray-color;

    &Configmap {
      font-size: 12px;
    }
  }

  &Helper {
    font-size: 12px;
    font-weight: 300;
    color: $ligth-gray-color;
  }
}

.authBtnMargin {
  margin-bottom: 15px;
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}


//////////////////select styles////////////////////

.select {
  &GreyColor {
    color: $ligth-gray-color !important;
  }

  &Wrapper {
    position: relative;
  }

  &Arrow {
    position: absolute;
    border: 8px solid transparent;
    border-bottom: 0;
    bottom: 0;
    right: 0;
    z-index: 0;

    &:nth-child(1) {
      top: 10px;
      border-top-color: $main-color;
    }

    &:nth-child(2) {
      top: 9px;
      border-top-color: $color-white;
    }
  }

  &Custom {
    position: relative;
    width: 100%;
    font-weight: 300;
    color: $color-dark-gray;
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid $very-light-gray;
    border-radius: 0;
    padding: 2px 0 8px;
    margin-bottom: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}

//////row custom////////////

.row {
  &ConfigmapAddFile {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  &Line {
    border-bottom: 1px solid $color-white2;
    padding-bottom: 40px;
    padding-left: 20px;
  }

  &WithoutLine {
    padding-left: 20px;
  }
}
////////////////////input///////////
.input {
  &Group {
    margin: 0 0 20px 0;
    position: relative;
  }
}

/////////breadcrumbs///////////

.breadcrumbs {
  &Li {
    margin-right: 10px;

    .breadcrumbsLiSpacer {
      margin-top: 1px;
    }
  }

  &Navigation {
    padding-left: 0;
    padding-right: 0;
    background-color: $color-white;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
  }
}


///////links styles///////

.link {
  &Documentation {
    color: $main-color;
  }
}

/////////////spaces////////////

.marginTop30 {
  margin-top: 30px ;
}

.marginLeft20 {
  margin-left: 20px;
}

.marginLeft_10 {
  margin-left: -10px;
}

.marginTop10 {
  margin-top: 10px !important;
}

.marginBottom30 {
  margin-bottom: 30px;
}

.marginTop40 {
  margin-top: 40px;
}

.marginBottom50 {
  margin-bottom: 50px;
}

.paddingX20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.paddingX0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.paddingL20 {
  padding-left: 20px;
}



//////column row///////////////

.column {
  &Custom{
    flex: 0 0 44.666667%;
    max-width: 44.666667%;

    &Volumes {
      -ms-flex: 0 0 31%;
      flex: 0 0 31%;
      max-width: 31%;
    }
  }
}
///////////////////hover action////////////////
.hoverAction {
  cursor: pointer;

  &:hover{
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.15);
  }

  &:hover .membershipIcon {
    color: $main-color;
  }

  &:hover .dropdownToggleMembership {
    &::after {
      border-top-color: $main-color !important;
    }
  }

  &:focus{
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.15);
  }

  &:active{
    border: none;
    margin-top: 30px;
  }

}
/////////////////////////////label/////////////////

.label {
  &Custom {
    font-weight: 300;
    color: $ligth-gray-color;
  }

  &Left {
    label {
      float: left;
    }
  }
}
