@import './variables.scss';

.hoverAction {
  cursor: pointer;

  &:hover{
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.15);
  }
}

.table {
  tbody td {
    border-top: 1px solid $color-white3 !important;
  }
}

.contentBlock {
  padding-right: 0;

  &:last-child {
    margin-bottom: 40px;
  }

  &Container {
    background: $color-white;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05);
    padding: 25px 30px 25px 30px;
    margin-top: 30px;
    margin-bottom: 30px;

    &Img {
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 0;
      width: 100%;
    }

    &Solution {
      min-height: 307px;
      margin-top: 30px;
      background-color: $color-white;
      padding-top: 34px;
      border-radius: 4px;
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05);

      &:hover {
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.15);
      }
    }
  }

  &InfoItem {
    //margin: 0 50px 0 50px;
    display: flex;
    //vertical-align: top;
    align-items: flex-start;
    //display: block;
    margin: 0;
  }

  &InfoName {
    color:#333;
    margin: 0 0 5px 0;
    font-weight: 600;

    .inline {
      display: inline-block;
    }
  }

  &InfoText {
    font-weight: 300;

    .inline{
      display: inline-block;
    }
  }

  &Header {
    position: relative;

    &Ellipsis {
      color: $main-color;
    }

    &Label {
      max-width: 800px;

      &Text {
        display: inline-block;
        font-size: 15px;

        &Center {
          text-align: center;
        }
      }

      &Main {
        text-transform: uppercase;
        color:#333;
        font-size: 20px;
        max-width: 322px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
      }
    }

    &Img {
      width:28px;
      height:32px;
      margin:0 0 10px 0;
    }

    &ExtraPanel {
      position: absolute;
      right: 0;
      top: 0;
      text-align: right;
    }

  }

  &Content {
    margin: 30px 0 0 0;
    position: relative;
    transition: height 0.3s ease-out 0.3s;

    &CardBlock {
      margin: 20px 0 0 0;
      padding: 0;
    }
  }

  &Volume {
    &Header {
      height: 109px;
      border-bottom: 1px solid $color-white;
    }

    &Footer {
      padding: 25px 30px 25px 30px !important;
    }
  }

  &Table {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    &More {
      &::before {
        color:$very-light-gray;
      }
    }

    thead td {
      font-weight: 600;
      border-top:none;
      color: $color-dark-gray;
      padding: 11px 0 11px 10px;
    }

    tbody td {
      font-weight: 300;
      padding: 5px 0 5px 10px;
      vertical-align: middle;
      position:relative;
    }

    tbody tr .td:last-of-type {
      padding-right: 40px;
    }

    tbody tr:hover td {
      background: $color-white2;
    }
  }

}

.marginTop30 {
  margin-top: 30px;
}

.container{
  &NoBackground {
    background: none !important;
    box-shadow: none;
    padding-right: 0;
    padding-left: 0;
  }

  &Card {
    min-height: 220px;
  }

}

.icon {
  display: inline-block;

  &GitHub {
    fill: $ligth-gray-color;
    width: 25px;
    height: 24px;
    position: absolute;
    left: -25px;
    top: 0;
    transition: all 0.3s ease
  }
}

.dropdown{
  &Menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: $color-white;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);


  }

  &Toggle {
    &::after {
      border-top-color: $main-color;
      margin: 4px 0 5px 12px;
    }
  }


  .dropdownToggle {
    &::after {
      display: none;
    }
  }

  &Item:active{
    background-color: $main-color;
  }

}

.button {
  cursor: pointer;

  &Blue {
    border-color: $main-color;
    color: $main-color;

    &:hover {
      background: $main-color;
      border-color: $main-color;
    }

    &:active {
      background: $btn-active-color;
      border-color: $btn-active-color;
      outline: none;
      box-shadow: none;
      color: $color-white;
    }

    &:focus {
      background: $btn-active-color;
      border-color: $btn-active-color;
      outline: none;
      box-shadow: none;
      color: $color-white;
    }
  }
}

.btn {
  padding: 8px 19px 8px 19px;
  border-radius: 2px;
  cursor: pointer;

  &Blue {
    border-radius: 2px;
    background-color: $main-color;
    color: $color-white;
    border: none;
    cursor: pointer;
  }

  &Depl {
    display: block;
    padding: 10px 16px;
    margin: 15px auto 0;
    text-transform: uppercase;

    &:hover {
      color: $color-white;
    }
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:active {
    outline: none;
    box-shadow: none;
  }
}

.col {
  &Namespaces {
    -ms-flex: 0 0 77.633333%;
    flex: 0 0 77.633333%;
    max-width: 877.633333%;
  }

  &Info {
    -ms-flex: 0 0 22.3%;
    flex: 0 0 22.3%;
    max-width: 22.3%;
  }
}

.ellipsisRoleMore{
  &::before {
    font-size: 29px;
    line-height: 29px;
    margin-top: 2px;
    cursor: pointer;
  }

  &:hover {
    &::before{
      color: $main-color;
    }
  }
}

.createDeploymentWrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 151px;
}

.noCreatedPodMessage {
  max-width: 350px;
  text-align: center;
  font-weight: 300;
  margin: 0 auto;
}
