/* stylelint-disable */
html {
    position: relative;
    min-height: 100%;
}

input:required {
    box-shadow:none;
}
input:invalid {
    box-shadow:none;
}

.hover-action {
    cursor: pointer;
}

.form-group__label {
    cursor: text;
}

.overflow-hidden {
    overflow: hidden;
}

.documentation-link {
    color: #29abe2;
}

.modal.fade.show {
    display: block;
}

.table tbody td {
    border-top: 1px solid #e9ecef!important;
}

.button {
    cursor: pointer;
}

.tr-table-hover {
    cursor: pointer;
    height: 42px;
}

.header-top-menu__li:hover a, .header-top-menu__li a.active {
    color:#333333;
    border-color: #29abe2;
}

.header-top-account__name a.dropdown-toggle {
    width: unset;
    max-width: 200px;
}

.header-top-account__name {
    width: unset;
}

.header-top-account {
    width: unset;
}
/* Without volumes and biling!!! */
.content-block-container {
    padding: 25px 30px 25px 30px;
}
/*.content-block-container__tools {*/
  /*!*padding: 25px 0 25px 0;*!*/
  /*padding: 25px 30px 25px 30px;*/
/*}*/

.content-block-container__tools:active {
  outline: 2px solid #29abe2 !important;
}

.container-img {
    padding: 0;
    border: none;
    box-shadow: none;
    border-radius: unset;
    background: transparent;
}

.content-block-container-img {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
    width: 100%;
}

.content-container-img {
    margin: 0;
}

.card-container {
     min-height: unset;
}


.card-container__tools {
  min-height: 260px !important;
  max-width: 370px !important;
}
.card-container__tools_not-active:hover {
  cursor: not-allowed !important;
}
.add-new-block .action-vol {
    line-height: 185px;
}
/* Without volumes */

.form-group__label-always-onfocus {
    color: #29abe2;
    font-size: 12px;
    top: 0;
}

.block-item__copy-string {
    width: 100%;
    height: 215px!important;
    padding: 5px 10px 5px 10px;
    margin: 25px 0 10px 0;
    background: #eaeaea;
    border: solid 1px #eaeaea;
    border-radius: 3px;
    position: relative;
    word-wrap: normal;
    white-space: nowrap;
}

.block-item__content-string {
    padding: 5px 10px 5px 10px;
}

.block-item__content-string-docker {
    position: inherit;
}

.block-item__copy-string-docker {
    height: 50px!important;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #29abe2;
}

/* Country selector*/
.bfh-selectbox {
    width: 100%;
}

.form-inline input {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.bfh-selectbox > .bfh-selectbox-toggle {
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.bfh-selectbox-options {
    width: 100%;
    float: left;
    background-color: #ffffff;
    max-height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

.bfh-selectbox .caret {
    margin-top: 8px;
    margin-left: 2px;
    height: 8px;
}

.bfh-selectbox > .bfh-selectbox-toggle > .caret {
    float: right;
}

.icon-flag {
    width: 16px;
    height: 16px;
}

.bfh-selectbox > .bfh-selectbox-toggle > .bfh-selectbox-option {
    display: inline-block;
    float: left;
    height: 20px;
    width: 260px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
/*.open > .bfh-selectbox-options {*/
    /*display: block;*/
/*}*/

.bfh-selectbox-options ul {
    /*max-height: 180px;*/
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    margin: 5px 0 0 0;
    width: 100%;
    padding-left: 0;
    list-style: none;
}

.bfh-selectbox-options li {
    line-height: 17px;
}

.bfh-selectbox-options li:hover {
    background-color: rgba(0,0,0,.05);
    cursor: pointer;
}

.bfh-selectbox-options a {
    display: block;
    padding: 6px 0 3px;
    line-height: 17px;
    height: 30px;
    color: #333333;
    white-space: nowrap;
    text-decoration: none;
}

.custom-select {
    padding: 8px 8px 5px;
    cursor: pointer;
}

.bfh-selectbox-filter {
    width: 87%;
    margin: 0 20px;
}

.flag {
    margin-top: 4px;
}

.dropdown-menu-width {
    width: 100%;
    min-width: 160px;
}
/* Country selector*/

.form-group.pt-0 .form-group__label.form-group__label-always-onfocus {
    top: -23px;
}

.row.double {
    margin-bottom: 30px;
}

.form-group.pt-0 .btn-outline-primary.disabled,
.form-group.pt-0 .btn-outline-primary.disabled:hover {
    background-color: transparent;
    /*color: #fff;*/
    opacity: 0.3;
}

.rc-tooltip-inner {
    background-color: #eaeaea!important;
    border: 1px solid #eaeaea!important;
    font-family: 'Open Sans';
    max-width: 340px;
    padding: 15px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 300;
    color: #333333;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.05);
    text-align: left;
}

.rc-tooltip-inner a,
.rc-tooltip-inner span {
    color: #333333;
}

.rc-tooltip-inner a:hover {
    text-decoration: underline;
}

.rc-tooltip-arrow {
    border-top-color: #eaeaea!important;
}

.rc-tooltip {
    opacity: 1!important;
}

.button_red {
    border-color: #fe4a49;
    background-color: #fe4a49;
    color: #fff;
}

.namespace-plan-first-step {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    color: #333;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.namespace-plan-first-step-blue {
    color: #29abe2;
}

.display-none {
    display: none!important;
}

.block-item__tokens-block {
    margin: 20px 0;
}

.block-item__tokens {
    margin: 35px 0 0;
}

.td-label-wrapper {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-dialog-create {
    max-width: 430px;
}

#g-recaptcha {
    transform:scale(1.06);
    transform-origin:0 0;
}

.form-control-danger {
    border-color: #fe4a49!important;
}

.namespace-plan-span-price {
    font-size: 12px;
    text-transform: lowercase;
    margin-top: 25px;
}

/* breadcrumb */
.breadcrumbNavigation {
    padding-left: 0;
    padding-right: 0;
    background-color: #fff;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}

.breadcrumbList {
    padding: 18.75px 0;
    background-color: #fff;
}

.breadcrumb-item,
.breadcrumb-item+.breadcrumb-item::before,
.breadcrumbList li a {
    color: #1a1a1a;
}

/* create depl */
.pageWidth {
    max-width: 1120px
}

.sideMenu {
    position: sticky;
    top: 15px;
    overflow: visible;
    max-height: calc(100vh - 0px);
    margin: -40px 0 50px;
    padding: 0;
}

.sideMenuHeader {
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.sideMenuItem {
    font-size: 15px;
    font-weight: 300;
    color: #a7a7a7;
    padding: 7px 20px;
}

.sideMenuItem.active {
    font-size: 15px;
    font-weight: 300;
    color: #29abe2;
}

.sideMenuHeader.active a {
    color: #29abe2!important;
}

.sideMenuHeader.active div {
    color: #29abe2!important;
}

.blockContainer {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05);
    padding: 40px 20px 30px 20px;
    margin-bottom: 30px;
}

.blockContainerPadin {
    padding: 40px 35px;
}

.blockAddContainerPadin {
    padding-left: 20px;
    padding-right: 20px;
}

.containerTitle {
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    color: #333333;
    text-transform: uppercase;
    position: relative;
}

.containerTitle span {
    color: #df5952;
}

.addBlockBtn .myTooltip,
.containerTitle .myTooltip {
    position: absolute;
    top: 3.5px;
    right: -22px;
    width: 13px;
    height: 13px;
    line-height: 13px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    background-color: #eaeaea;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.addBlockBtn .myTooltip {
    background-color: #a7a7a7;
}

.containerSubTitle,
.containerSubTitleBlack {
    font-weight: 300;
    color: #a7a7a7;
    margin-top: 15px;
    margin-bottom: 50px;
}

.containerSubTitleBlack {
  color: #000;
}

.tooltip {
    width: 340px;
    margin-left: 247px;
    margin-bottom: 15px;
}

.containerTitle .myTooltip:hover {
    background-color: #29abe2;
}
body .tooltip > .tooltip-inner {
    font-family: 'Open Sans';
    max-width: 340px;
    padding: 15px;
    border-radius: 4px;
    background-color: #eaeaea;
    font-size: 12px;
    font-weight: 300;
    color: #333333;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.05);
    text-align: left;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    border-width: 11px 11px 0;
    border-top-color: #eaeaea;
    left: -251px;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    border-width: 0 11px 11px;
    border-bottom-color: #eaeaea;
    margin-top: -5px;
}

.tooltip.bs-tooltip-bottom {
    margin-top: 15px;
}

.customInput {
    font-weight: 300;
    color: #a7a7a7;
    border: none;
    border-bottom: 1.5px solid #eaeaea;
    border-radius: 0;
    padding-left: 0;
    width: 100%;
    margin-bottom: 7px;
    padding-bottom: 4px;
}

.customInputDomain {
  padding-right: 155px!important;
  direction: rtl;
}

.customAlwaysVisiblePlaceholder:after {
  content: '.hub.containerum.io';
  position: absolute;
  right: 8px;
  top: 27px;
  font-weight: 300;
  color: #a7a7a7;
  font-size: 16px;
}

.customAlwaysVisibleInputPathPlaceholder:before {
  content: '/';
  position: absolute;
  left: -10px;
  top: 25px;
  font-weight: 300;
  color: #a7a7a7;
  font-size: 16px;
}

.customInput:focus {
    border: none;
}

.customInput:hover {
    border-bottom: 1.5px solid #a7a7a7;
}

.customInput:focus {
    border-bottom: 1.5px solid #29abe2;
}

.customLabel {
    font-weight: 300;
    color: #a7a7a7;
}

.has-float-label label {
    left: 0;
}

.has-float-label .form-control:placeholder-shown:not(:focus)+label {
    font-size: 100%;
    top: 4px;
    opacity: 1;
}

.helperText a,
.helperText {
    font-size: 12px;
    font-weight: 300;
    color: #a7a7a7;
}

.helperText a {
    text-decoration: underline;
}

.marLeft20 {
    margin-left: 20px;
}

.rowLine {
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 40px;
    padding-left: 20px;
}

.rowWithoutLine {
    padding-left: 20px;
}

.myColumn {
    flex: 0 0 44.666667%;
    max-width: 44.666667%;
}

.addBlockBtn {
    display: inline-block;
    margin: 30px 0 0 15px;
    font-weight: 300;
    color: #29abe2;
    text-transform: uppercase;
    cursor: pointer;
}

.addBlockBtn:hover {
    color: #1d87b3;
}

.addBlockBtnBig {
    display: inherit;
    font-size: 20px;
    margin-left: 0;
}

.marLeft {
    margin-left: 0;
}

.iconBasket {
    margin-top: 19px;
    margin-left: 30px;
    width: 12px;
    height: 15px;
    cursor: pointer;
}

.iconBasket:hover .st0 {
    fill: #29abe2;
}

.containerBlockTitle {
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: initial;
}

.containerBlockTitle .myTooltip {
    top: 0;
}

.marBot40 {
    margin-bottom: 40px;
}

.marBot30 {
    margin-bottom: 30px;
}

.marTop40 {
    margin-top: 40px;
}

.marTop30 {
    margin-top: 30px;
}

.marLeftt10 {
    margin-left: -10px;
}

.select-wrapper {
    position: relative;
}

.selectCustom {
    position: relative;
    width: 100%;
    font-weight: 300;
    color: #333333;
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid #eaeaea;
    border-radius: 0;
    padding: 2px 0 8px;
    margin-bottom: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}

.selectCustom:hover {
  cursor: pointer;
}

.selectCustom:disabled {
  cursor: not-allowed;
}

.select-wrapper select::-ms-expand {
    display: none;             /* remove arrow IE     */
}

.select-arrow-3 {
    position: absolute;
    border: 8px solid transparent;
    border-bottom: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.select-arrow-3:nth-child(1) {
    top: 10px;
    border-top-color: #29abe2;
}

.select-arrow-3:nth-child(2) {
    top: 9px;
    border-top-color: #FFF;
}

.inputSubpath {
    position: relative;
}

.inputSubpathSign {
    position: absolute;
    left: -17px;
    font-weight: 300;
    color: #a7a7a7;
}

.myCol31 {
    -ms-flex: 0 0 31%;
    flex: 0 0 31%;
    max-width: 31%;
}

.btnTooltipContainer {
    display: inline-block;
    position: relative;
    margin-top: 10px;
}

.btnTooltipContainer .myTooltip {
    top: 8.5px;
}

.btnDeployment, .btnTransparency {
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    background-color: #29abe2;
    border: none;
    padding: 11px 0;
    cursor: pointer;
    margin: 40px 0 25px;
    text-transform: uppercase;
}

.btnTransparency {
  background-color: transparent;
  border: 2px solid #29abe2;
  color: #29abe2;
  padding: 9px 0;
}

.btnDeployment:focus, .btnTransparency:focus {
    outline: 0;
}

.btnDeployment:hover, .btnTransparency:hover {
  color: #fff;
  background-color: #1d87b3;
  border-color: #1d87b3;
}

.btnDeployment:active, .btnTransparency:focus {
    background-color: #1d87b3;
}

.serviceSwitcher {
    width: 49px;
    float: right;
    position: relative;
    margin-top: 4px;
    margin-right: 20px;
}

.serviceSwitcher:before {
    display: block;
    content: "";
    width: 49px;
    height:16px;
    border: solid 1px #eaeaea;
    border-radius: 15px;
    background: transparent;
    -webkit-transition: 0.08s linear;
    -moz-transition: 0.08s linear;
    -o-transition: 0.08s linear;
    transition: 0.08s linear;
    cursor: pointer;
}

.serviceSwitcher:after {
    display: block;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    left: -1px;
    top: -5px;
    -webkit-transition: left 0.08s linear;
    -moz-transition: left 0.08s linear;
    -o-transition: left 0.08s linear;
    transition: left 0.08s linear;
    cursor: pointer;
}

.serviceSwitcherOn:after {
    left:25px
}

.serviceSwitcherOn:before {
    background-color: #29abe2;
    border: solid 1px #29abe2;
}

.isHidden,
.iconTitleBasket,
.serviceWrapperOff {
    display: none;
}

.iconTitleBasketOn {
    display: inline-block;
    width: 16px;
    height: 20px;
}

.iconTitleBasketOn .st0 {
    fill: #29abe2;
}

.isVisible {
    display: block;
}

.linkedServTitle:hover,
.linkedServTitle {
    margin-bottom: 30px;
    color: #333;
    cursor: default;
}

/* Create Services */
.bodyRelative {
    position: relative;
}

.deployBtn {
    padding: 2px 20px 4px;
    border-radius: 2px;
    border: solid 1px #29abe2;
    background-color: #fff;
    color: #29abe2;
    cursor: pointer;
    transition: 0.2s;
}

.deployBtn:hover {
    background-color: #29abe2;
    color: #fff;
}

.deployBtn:active {
    background-color: #1d87b3;
}

.deployBtn:focus {
    outline: none;
}

.selectGreyColor {
    color: #a7a7a7;
}

.btnService {
    margin-top: 10px;
    margin-bottom: 50px;
}

/* Upgrade Services */
.containerTitle .containerTitleText {
    font-size: 15px;
    font-weight: 300;
    color: #a7a7a7;
    text-transform: lowercase;
    margin-left: 10px;
}

.customLabelBlack {
    color: #333;
}

.helperText .helperTextUnderline {
    text-decoration: none;
}

.myCol1 {
    -ms-flex: 0 0 7.333333%;
    flex: 0 0 7.333333%;
    max-width: 7.333333%;
    margin-left: -20px;
}

.marLeft15 {
    margin-left: 15px;
}

.sideMenuHeader-nomargin {
    margin: 0;
}

.sideMenuItem-transformInit {
    text-transform: initial;
}

/* solution page */

.content-block-container-solution {
  min-height: 307px;
  margin-top: 30px;
  background-color: #fff;
  padding-top: 34px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05);
}

.content-block-container-solution:hover {
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.15);
}

.content-block-volume-header {
  height: 115px;
  border-bottom: 1px solid #eaeaea;
}

.volume-header-img {
  display: block;
  width: auto;
  height: 71px;
  margin: 0 auto;
}

.content-block-volume-footer {
  padding: 25px 30px 25px 30px;
}

.volume-footer-header {
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.volume-footer-info {
  font-weight: 300;
  line-height: 1.67;
  text-align: left;
  margin-bottom: 27px;
}

.volume-footer-info-item {
  display: inline-block;
  margin-right: 15px;
}

.volume-footer-info-item:last-child {
  margin-right: 0;
}

.volume-footer-links-deploy {
  float: left;
}

.volume-footer-links-github {
  float: right;
  position: relative;
}

.footer-links-deploy-btn {
  display: initial;
  text-align: center;
  color: #29abe2;
  text-transform: uppercase;
  border-radius: 2px;
  border: solid 1px #29abe2;
  padding: 3px 40px;
  transition: all 0.3s ease;
  outline: none;
  line-height: 27px;
}

.footer-links-deploy-btn:hover {
  background-color: #29abe2;
  color: #fff;
}

.icons8-GitHub {
  fill: #a7a7a7;
  width: 25px;
  height: 24px;
  position: absolute;
  left: -25px;
  top: 0;
  transition: all 0.3s ease
}

.icon {
  display: inline-block;
}

.footer-links-github-text {
  font-weight: 300;
  line-height: 1.33;
  color: #a7a7a7;
  transition: all 0.3s ease
}

.volume-footer-links-github:hover .icons8-GitHub {
  fill: #333;
}

.volume-footer-links-github:hover .footer-links-github-text {
  color: #333;
}

.volume-form-input {
  font-weight: 300;
  color: #a7a7a7;
  border: solid 0.5px #a7a7a7;
}

.form-control:focus {
  border: solid 0.5px #a7a7a7;
}
.form-control__configmap {
  min-width: 600px;
}
.form-control__configmap::placeholder {
  font-size: 15px;
  color: #a7a7a7;
}

.input-group {
  margin: 0 0 20px 0;
  position: relative;
}

.btn {
  padding: 8px 19px 8px 19px;
  border-radius: 2px;
  cursor: pointer;
}

.btn:focus, .btn:active {
  outline: none;
  box-shadow: none;
}

.button_blue {
  border-color: #29abe2;
  color:#29abe2;
}

.button_blue:hover {
  background:#29abe2;
  border-color: #29abe2;
}

.button_blue:active, .button_blue:focus {
  background:#1d87b3;
  border-color: #1d87b3;
  outline: none;
  box-shadow: none;
  color:#fff;
}

/*.button_red {*/
  /*border-color: #fe4a49;*/
  /*color:#fe4a49;*/
/*}*/

.button_red:hover {
  background:#fe4a49;
  border-color: #fe4a49;
}

.button_red:active, .button_red:focus {
  background:#de3e3d;
  border-color: #de3e3d;
  outline: none;
  box-shadow: none;
  color:#fff;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,0.05);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

/*Pod page*/
.block-title {
  color: #333333;
}

.log-block {
  margin: 23px 0 0 50px;
}

.log-data {
  padding: 7px;
  border-radius: 4px;
  background-color: #484e5c;
  border: solid 4px #646c7f;
  font-size: 13px;
  color: #ffffff;
  /*max-width: 100%;*/
}
.log-data__cfm {
  padding: 7px;
  border-radius: 4px;
  background-color: #eaeaea;
  border: solid 4px #eaeaea;
  font-size: 15px;
  color: #008080;
}

.full-screen-btn {
  float: right;
  font-size: 13px;
  cursor: pointer;
}

.full-screen-btn img {
  width: 12px;
  height: 12px;
  margin-left: 4px;
}

.content-block__info-name .full-screen-btn a,
.content-block__info-name .full-screen-btn div {
  color: #29abe2;
  font-weight: 400;
}

.content-block__info-name .full-screen-btn a:hover,
.content-block__info-name .full-screen-btn div:hover {
  color: #29abe2;
}

.card-block .mt-15 {
  margin-top: 15px;
}

.content-block-wrapper {
  position: relative;
}

.content-block-header .nav-link {
  padding: 0 0 10px 0;
  margin-right: 38px;
}

/*.content-block-header .nav-item a {*/
  /*font-weight: 300;*/
  /*color: #a7a7a7;*/
/*}*/

.content-block-header .nav-pills .nav-link.active {
  color: #3c3c3c;
  border-bottom: 1.5px solid #29abe2;
  border-radius: 0;
  font-weight: 400;
  background-color: transparent;
}

.solution-containers-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.solution-container {
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
  width: 100%;
  max-width: 31.5%;
  padding: 15px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #eaeaea;
  margin: 0 0 30px 0;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05);
}

.solution-container:hover {
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.15);
}

.solution-container-img {
  width: 61px;
  margin-right: 20px;
}

.solution-container-img-block {
  position: relative;
  width: 61px;
  height: 50px;
  border-radius: 4px;
  background-color: #f6f6f6;
  border: solid 2px #f6f6f6;
}

.solution-container-img-block img {
  position: absolute;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.solution-container-info-text,
.solution-container-info-title {
  font-weight: 300;
}

.solution-container-status {
  margin-top: 8px;
  color: #9b9b9b;
  font-weight: 300;
}

.status-active {
  color: #03b5aa;
  font-weight: 400;
}

.status-inactive {
  color: #fe4a49;
  font-weight: 400;
}

.nocreated-sol-message {
  max-width: 600px;
  text-align: center;
  font-weight: 300;
  margin: 40px auto 15px;

}

.blue-btn {
  border-radius: 2px;
  background-color: #29abe2;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.solutions-btn {
  display: block;
  padding: 9px 49px;
  margin: 0 auto 15px;
}

.active-solution-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.application-btn {
  display: block;
  width: 233px;
  height: 30px;
  text-transform: uppercase;
  margin-top: 6px;
}

.active-solution-block {
  width: 86px;
  height: 67px;
  border-radius: 4px;
  margin-right: 30px;
}

.active-solution-block img {
  height: 19px;
}

.active-solution-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.13;
}

.services-table thead td,
.deployments-table thead td {
  font-weight: 400;
}

.services-table .td-2 {
  width: 237px;
}

.services-table .td-3 {
  width: 142px;
}

.services-table .td-4 {
  width: 452px;
}

.services-table .td-7 {
  width: 48px;
}

.content-block:last-child {
  margin-bottom: 40px;
}

/*Dashboard v2*/
.dashboard-wrap {
  margin-top: 30px;
}

.dashboard-wrap .row {
  background-color: #f6f6f6;
}

.block-container {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05);
}

.col-info {
  -ms-flex: 0 0 22.3%;
  flex: 0 0 22.3%;
  max-width: 22.3%;
}

.col-namespaces {
  -ms-flex: 0 0 77.633333%;
  flex: 0 0 77.633333%;
  max-width: 877.633333%;
}

.top-block {
  padding: 14px 15px 14px 35px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.top-block-icon {
  width: 35px;
  height: 35px;
  margin-right: 30px;
}

.deployments-icon {
  background: url('../images/deployments.svg') 0 0 no-repeat;
  background-size: 100%;
}

.services-icon {
  background: url('../images/link.svg') 0 0 no-repeat;
  background-size: 100%;
}

.pods-icon {
  background: url('../images/combined-shape-blue.svg') 0 0 no-repeat;
  background-size: 100%;
}

.top-block-title {
  font-weight: 300;
  text-transform: uppercase;
}

.top-block-quantity {
  font-size: 30px;
}

.top-block-header {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px 0 15px 25px;
  border-bottom: 1px solid #eaeaea;
}

.info-list {
  padding: 15px 20px 15px 30px;
}

.info-link {
  display: block;
  font-weight: 300;
  line-height: 1;
  color: #4a4a4a;
  margin-bottom: 15px;
}

.dashboard-table {
  width: 100%;
  table-layout:fixed;
  height: 210px;
  margin-bottom: 0;
}

.content-block__table_domains {
  overflow: auto !important;
}
.dashboard-table thead td {
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboard-table tbody td {
  padding: 4px 0 4px 10px;
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboard-table tbody td:last-child {
  overflow: initial;
}

.dashboard-table tbody {
  overflow-y: scroll;
  height: 123px;
  width: 95.7%;
  position: absolute;
}

@-moz-document url-prefix() {
  .dashboard-table tbody {
    margin-top: 30px;
  }
}

.dashboard-table tr {
  width: 100%;
  display: inline-table;
}

.dashboard-table .td-1 img {
  width: 24px;
  height: 26px;
}

.dashboard-table .td-1 {
  width: 200px;
  padding-left: 35px;
}

.dashboard-table .td-2 {
  width: 225px;
}

.dashboard-table .td-3 {
  width: 158px;
}

.dashboard-table .td-4 {
  width: 224px;
}

.dashboard-table .td-7 {
  width: 123px;
  padding-left: 30px;
}

.dashboard-table .td-1-domains {
  width: 60%;
  padding-left: 0;
}

.dashboard-table .td-2-domains {
  width: 15%;
  padding-left: 0;
}

.dashboard-table .td-3-domains {
  width: 18%;
  padding-left: 0;
}

.dashboard-table .td-4-domains {
  width: 7%;
}

.dashboard-table tbody .td-2-domains {
  width: 15%;
  padding-left: 7px;
}

.dashboard-table tbody .td-3-domains {
  width: 18%;
  padding-left: 7px;
}

.dashboard-table .domains{
  color: #29abe2;
}

@-moz-document url-prefix() {
  .dashboard-table .td-2 {
    width: 333px;
  }
  .dashboard-table .td-3 {
    padding-left: 75px;
  }
  .dashboard-table .td-4 {
    padding-left: 40px;
  }
  .dashboard-table .td-7 {
    padding-left: 70px;
  }

  .news-wrapper::-webkit-scrollbar-track,
  .dashboard-table tbody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #FFF;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  .news-wrapper::-webkit-scrollbar,
  .dashboard-table tbody::-webkit-scrollbar {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    width: 4px;
  }

  .news-wrapper::-webkit-scrollbar-thumb,
  .dashboard-table tbody::-webkit-scrollbar-thumb {
    -webkit-box-shadow: 0 20px 32px rgba(13, 13, 54, 0.11);
    box-shadow: 0 20px 32px rgba(13, 13, 54, 0.11);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #EAEAEA;
    width: 3px;
  }
}

.dashboard-table .td-2.pleft {
  padding-left: 13px;
}

.dashboard-table .td-3.pleft {
  padding-left: 9px;
}

.dashboard-table .td-4.pleft {
  padding-left: 0px;
}

.news-wrapper::-webkit-scrollbar-track,
.dashboard-table tbody::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: #FFF;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.news-wrapper::-webkit-scrollbar,
.dashboard-table tbody::-webkit-scrollbar {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #fff;
  width: 4px;
}

.news-wrapper::-webkit-scrollbar-thumb,
.dashboard-table tbody::-webkit-scrollbar-thumb {
  -webkit-box-shadow: 0 20px 32px rgba(13, 13, 54, 0.11);
  box-shadow: 0 20px 32px rgba(13, 13, 54, 0.11);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #EAEAEA;
  width: 3px;
}

.block-container-tabs {
  padding: 25px 25px 10px 25px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.block-container-tabs .nav-link {
  padding: 0 0 10px 0;
  margin-right: 38px;
}

.block-container-tabs .nav-item a {
  text-transform: uppercase;
}

.block-container-tabs .nav-pills .nav-link.active {
  color: #333;
  border-bottom: 3px solid #29abe2;
  border-radius: 0;
  background-color: transparent;
}

.block-container-tabs-header {
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.mt-30 {
  margin-top: 30px;
}

.block-h {
  height: 213px
}

.block-h-tabs {
  height: 338px;
}

.pre-solution-container {
  min-height: 205px;
  max-width: 22%;
  flex-direction: column;
  align-items: center;
}

.pre-solution-container .button {
  visibility: visible;
}

/*.pre-solution-container:hover .button {*/
  /*visibility: visible;*/
/*}*/


.pre-solution-container-img-block {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
}

.pre-solution-container-img-block img {
  height: 100%;
  max-height: 50px;
}

.pre-solution-container-info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;align-items: center;
  overflow-y: auto;
  text-align: center;
  height: 68px;
}

.news,
.release {
  position: relative;
  display: block;
  font-weight: 300;
  margin-bottom: 9px;
  line-height: 1.4;
}

.overflow-wrapper {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news a,
.release a {
  color: #29abe2;
}

.news::before,
.release::before {
  content: '';
  position: absolute;
  display: inline-block;
  background: url('../images/release.svg') 0 0 no-repeat;
  background-size: 100%;
  width: 20px;
  height: 12px;
  top: 6px;
  left: -30px;
}

.news::before {
  content: '';
  background: url('../images/news.svg') 0 0 no-repeat;
  background-size: 100%;
  width: 18px;
  height: 20px;
  top: 3px;
  left: -28.5px;
}

.create-depl-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 151px;
}

.nocreated-pod-message {
  max-width: 350px;
  text-align: center;
  font-weight: 300;
  margin: 0 auto;
}

button:focus {
  outline: 0;
}

.depl-btn {
  display: block;
  padding: 10px 16px;
  margin: 15px auto 0;
  text-transform: uppercase;
}

.depl-btn:hover {
  color: #fff;
}

/*#deployment .modal-dialog {*/
  /*max-width: 600px;*/
  /*box-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 0.3);*/
/*}*/

/*#deployment .modal-body {*/
  /*padding-bottom: 40px;*/
/*}*/

#deployment .close {
  font-size: 2.5rem;
  line-height: 0.5;
  outline: 0;
  cursor: pointer;
}

.empty-box {
  position: relative;
  /*background: url('../images/empty-box.svg') 0 0 no-repeat;*/
  background-size: 100%;
  width: 113px;
  height: 95px;
  margin: 0 auto 30px;
}

.empty-box span {
  position: absolute;
  top: 46px;
  left: 50%;
  transform: translateX(-50%);
  color: #4a4a4a;
  font-weight: 600;
}

/*.modal-message-box {*/
  /*max-width: 348px;*/
  /*margin: 0 auto 40px;*/
/*}*/

.message-box-title {
  margin-bottom: 20px;
}

.message-box-subtitle {
  font-weight: 300;
}

.block-h-tabs .nav-link {
  padding: 0 0 10px 0;
  margin-right: 38px;
  color: #a7a7a7;
  font-size: 20px;
}

.block-h-tabs .nav-item a {
  text-transform: uppercase;
}

.block-h-tabs .nav-pills .nav-link.active {
  position: relative;
  color: #333;
  background-color: transparent;
  padding-bottom: 0;
}

.block-h-tabs .nav-pills .nav-link.active::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #29abe2;
}

.tour-wrapper {
  padding: 40px 20px 0 30px;
}

.tour-wrapper a {
  display: block;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 21px;
}

.news-wrapper {
  padding: 5px 5px 0 42px;
  height: 282px;
  overflow-y: auto;
}


/* Solution Page Info */
.page-wrapper{
  flex-wrap: nowrap;
  padding: 40px;
  margin: 30px 0 0 0;
  border-radius: 4px;
  background-color: #fff;
}
.page-left-side{
  margin-right: 40px;
}
.page-right-side{
  -ms-flex: 0 0 62.3%;
  flex: 0 0 62.3%;
  max-width: 62.3%;
}
.block-img{
  position: relative;
  max-width: 328px;
  padding-bottom: 88%;
  border-radius: 4px;
  background-color: #f6f6f6;
  border: solid 2px #f6f6f6;
  margin-bottom: 20px;
}
.block-img img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-height: 78px;
}
.left-side-btn{
  width: 100%;
  font-size: 20px;
  color: #fff;
  padding: 9px 5px;
  border-radius: 2px;
  background-color: #29abe2;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #29abe2;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 30px;
}
.left-side-update-date{
  font-size: 20px;
  font-weight: 300;
  color: #a7a7a7;
  margin-bottom: 15px;
}
.resources-block{
  margin-bottom: 30px;
  color: #333333;
  line-height: 2;
}
.resources-title{
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  text-transform: uppercase;
}
.resource{
  font-size: 20px;
  font-weight: 300;
  line-height: 2;
  text-transform: uppercase;
}
.left-side-links{
  margin-left: 40px;
}
.left-side-links a{
  display: block;
  position: relative;
  font-weight: 300;
  color: #a7a7a7;
  word-wrap: break-word;
  margin-bottom: 20px;
}
.left-side-links a:hover{
  color: #29abe2;
  text-decoration: underline;
}
.left-side-links a img{
  position: absolute;
  left: -43px;
  top: -6px;
  width: 32px;
  height: 32px;
}
.category-title{
  font-size: 20px;
  font-weight: 300;
  color: #333333;
  margin-bottom: 15px;
}
.category a{
  display: inline-block;
  padding: 0 10px;
  font-weight: 300;
  line-height: 2;
  color: #a7a7a7;
  border-radius: 2px;
  border: solid 1px #eaeaea;
  margin-bottom: 10px;
  margin-right: 4px;
  transition: 0.2s;
}
.category a:hover{
  color: #29abe2;
  border: solid 1px #29abe2;
}
.page-right-side-title{
  font-size: 35px;
  font-weight: 300;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.nav-link{
  /*padding: 0 0 10px 0;*/
  margin-right: 38px;
}
.nav-pills .nav-link.active{
  color: #3c3c3c;
  border-bottom: none;
  /*border-bottom: 1.5px solid #29abe2;*/
  border-radius: 0;
  font-weight: 400;
  background-color: #fff;
}
.info-text{
  font-weight: 300;
  line-height: 2;
  color: #333333;
  margin-bottom: 30px;
}
.info-text:last-child{
  margin-bottom: 0;
}
.info-video{
  width: 100%;
  height: 395px;
}
.info-video-text{
  font-weight: 300;
  line-height: 1.67;
  color: #a7a7a7;
  margin: 10px 0 30px;
}
#details .info-text{
  margin-bottom: 0;
}
.info-text img {
  margin-left: -20%;
  margin-bottom: 10px;
  max-width: 120%;
}
code {
  color: #29abe2;
}
.details-info{
  margin-bottom: 40px;
}
.details-title{
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  color: #333333;
  margin-bottom: 10px;
}
.details-block-wrapper{
  margin-top: -10px;
}
.details-block-wrapper:last-child{
  margin-top: 20px;
}
.details-container-wrapper{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  max-width: 450px;
  flex-wrap: wrap;
}
.details-block-container{
  display: flex;
  align-items: center;
  min-width: 200px;
  padding: 15px 10px 15px 15px;
  border-radius: 2px;
  border: solid 1px #eaeaea;
  margin: 0 20px 20px 0;
}
.details-block-container-service{
  align-items: flex-start;
  align-self: flex-start;
}
.details-block-container-service .details-block-title{
  margin-bottom: 8px;
}
.details-block-container-service .details-block-subtitle{
  line-height: 1.45;
}
.details-block-img,
.details-block-text{
  display: inline-block;
}
.details-block-text{
  margin-left: 19px;
}
.hexagon {
  position: relative;
  width: 27px;
  height: 15.59px;
  background-color: #019639;
  margin: 7.79px 0;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 13.5px solid transparent;
  border-right: 13.5px solid transparent;
}
.hexagon:before {
  bottom: 100%;
  border-bottom: 7.79px solid #019639;
}
.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 7.79px solid #019639;
}
.hexagon span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}
.hexagon-purple{
  background-color: #7A47C2;
}
.hexagon-purple:before {
  border-bottom: 7.79px solid #7A47C2;
}
.hexagon-purple:after {
  border-top: 7.79px solid #7A47C2;
}
.details-block-title{
  font-size: 15px;
  line-height: 1;
  color: #a7a7a7;
}
.details-block-subtitle{
  font-size: 12px;
  font-weight: 300;
  line-height: 1.25;
  color: #a7a7a7;
}

/*Solution Modal*/
/*.modal-header {*/
  /*height: 50px;*/
  /*display: flex;*/
  /*border-bottom: 1px solid #eaeaea;*/
  /*background-color: #f6f6f6;*/
  /*border-radius: 4px 4px 0 0;*/
/*}*/
/*.modal-body{*/
  /*padding: 0 50px;*/
  /*height: 80px;*/
  /*display: -webkit-flex;*/
  /*display: -moz-flex;*/
  /*display: -ms-flex;*/
  /*display: -o-flex;*/
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  /*box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05);*/
/*}*/
.white-btn{
  border-radius: 2px;
  border: solid 0.5px #a7a7a7;
  color: #a7a7a7;
  background-color: transparent;
  cursor: pointer;
}
.prev-btn,
.modal-body-cancel-btn{
  padding: 3px 21px;
}
.white-btn:hover{
  color: #29abe2;
  border: solid 0.5px #29abe2;
}
.blue-btn{
  border-radius: 2px;
  background-color: #29abe2;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.deploy-btn,
/*.modal-body-next-btn{*/
  /*padding: 4px 27px;*/
/*}*/
.box {
  width: 100%;
  max-width: 470px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background: #FFF;
  margin-top: -20px;
}
.progress {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  overflow: initial;
  background-color: initial;
}
.bar {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #eaeaea;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.bar__fill {
  display: block;
  background: #29abe2;
  height: 100%;
  width: 0%;
}
.point {
  position: relative;
  color: #333;
  cursor: pointer;
}
.point:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.show-radius .point:before {
  background: rgba(0, 0, 0, 0.1);
}
.point--complete, .point--active {
  color: #29abe2;
}
.bullet {
  z-index: 1;
  position: relative;
  background: #a7a7a7;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.point--complete .bullet,
.point--active .bullet {
  background: #29abe2;
}
.point--active .bullet {
  background-color: #fff;
  width: 4px;
  height: 4px;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15), 0 0 0 6px #29abe2;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15), 0 0 0 6px #29abe2;
  margin: 2px 2px 0 2px;
}
.label {
  position: absolute;
  top: 100%;
  left: 50%;
  margin: 15px 0 0 0;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  white-space: nowrap;
}
.radius-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  background: #FFF;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 40px 0 65px rgba(212, 197, 186, 0.4);
  box-shadow: 40px 0 65px rgba(212, 197, 186, 0.4);
  padding: 10px;
  color: #BA7C3F;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}
button:focus{
  outline: 0;
}
.close{
  cursor: pointer;
}
/*.modal-main-content-second-page,*/
/*.modal-main-content{*/
  /*display: -webkit-flex;*/
  /*display: -moz-flex;*/
  /*display: -ms-flex;*/
  /*display: -o-flex;*/
  /*display: flex;*/
  /*height: 690px;*/
/*}*/
/*.modal-main-content-success-page,*/
/*.modal-main-content-error-page,*/
/*.modal-main-content-second-page{*/
  /*display: none;*/
/*}*/
/*.modal-list,*/
/*.main-content{*/
  /*display: inline-block;*/
/*}*/
/*.modal-list{*/
  /*width: 20%;*/
  /*background-color: #F6F6F6;*/
  /*border-right: 1px solid #eaeaea;*/
  /*list-style: none;*/
  /*padding-top: 28px;*/
  /*padding-left: 50px;*/
  /*margin-bottom: 0;*/
/*}*/
/*.modal-list li a{*/
  /*display: inline-block;*/
  /*font-weight: 300;*/
  /*margin-bottom: 10px;*/
/*}*/
/*.modal-list li a.active{*/
  /*color: #29abe2;*/
/*}*/
.main-content{
  padding: 0 100px 30px 60px;
  width: 80%;
  overflow-y: scroll;
}
.main-content-title{
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
}
.main-content .add-funds-input-label{
  font-size: 12px;
  font-weight: 300;
  color: #a7a7a7;
  margin-bottom: 0;
}
.main-content .add-funds-input{
  padding-top: 3px;
  padding-bottom: 7px;
  margin-bottom: 7px;
  max-width: initial;
}
.helper-text{
  font-size: 12px;
  font-weight: 300;
  line-height: 1.42;
  color: #a7a7a7;
}
.input-box{
  margin-bottom: 20px;
}
/*.modal-main-content-success-page,*/
/*.modal-main-content-error-page{*/
  /*padding: 40px 50px 35px;*/
/*}*/
.status-message-success,
.status-message-error{
  position: relative;
  text-transform: uppercase;
  margin-left: 38px;
  margin-bottom: 20px;
}
.status-message-error::before{
  content: '';
  position: absolute;
  top: 1px;
  left: -37px;
  background: url('../images/error-icon.svg') 0 0 no-repeat;
  background-size: 100%;
  width: 23px;
  height: 20px;
}
.status-message-success::before{
  content: '';
  position: absolute;
  top: 1px;
  left: -37px;
  background: url('../images/success-icon.svg') 0 0 no-repeat;
  background-size: 100%;
  width: 24px;
  height: 20px;
}
.message-text{
  font-weight: 300;
  line-height: 2;
  margin-bottom: 29px;
}
.message-text a{
  color: #29abe2;
}
.table-title{
  margin-bottom: 30px;
}
/*.modal-table{*/
  /*margin-bottom: 30px;*/
/*}*/
/*.table tr td:last-child{*/
  /*color: initial;*/
/*}*/
/*.modal-table tbody{*/
  /*font-weight: 300;*/
/*}*/
.border-bot{
  border-bottom: 1px solid #eaeaea;
}
/*.modal-table td, .modal-table th{*/
  /*padding: 9px;*/
/*}*/
/*.modal-table .w-30 {*/
  /*width: 30%!important;*/
/*}*/
.w-25 {
  width: 20%!important;
}
.error-page-btn-wrap{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.white-btn-error{
  padding: 3px 23px;
  margin: 0 20px;
  text-transform: uppercase;
}
.blue-btn-error{
  padding: 3px 26px;
  margin: 0 20px;
  text-transform: uppercase;
}
.white-btn-success{
  padding: 8px 32px;
  margin: 0 25px;
  text-transform: uppercase;
}
.deploy-btn,
.prev-btn{
  display: none;
}
