$color-dark-gray: #333;
$color-white2: #eee;
$color-white: #fff;
$color-white2: #eee;
$color-white: #fff;
$color-gray: #f6f6f6;
$main-color: #29abe2;
$write-access-color: #03b5aa;
$read-access-color: #406f99;
$owner-access-color: #29abe2;
$none-access-color: #ff2e2e;
$read-delete-access-color: #008080;
$ligth-gray-color: #a7a7a7;
