.SignUp {
  input {
    background-color: #fff6f6 !important;
    border-color: #e0b4b4 !important;
    color: #9f3a38 !important;
    box-shadow: none !important;
  }
}

.windowSignUp {
  background: #fff url('../../images/loginGroup/signup.svg') 0 0 no-repeat;
  background-size: 452px 100%;
}
