.SignUp {
  input {
    background-color: #fff6f6 !important;
    border-color: #e0b4b4 !important;
    color: #9f3a38 !important;
    box-shadow: none !important;
  }

  &Footer {
    color: #a7a7a7;
    text-align: center;
    font-weight: 300;
    line-height: 1.67;
    font-size: 10px;
    margin-top: 50px;
  }
}

.windowSignUp {
  background: #fff url('../../images/loginGroup/signup.svg') 0 0 no-repeat;
  background-size: 452px 100%;
}
