/* stylelint-disable */

.form-header {
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.form-header-reset {
  margin-top: 200px;
}

.custom-input {
  padding: 9.5px;
  border-radius: 2px;
  background-color: #fff;
  color: #a7a7a7;
  border: solid 0.5px #a7a7a7;
  margin-bottom: 20px;
  font-weight: 300;
}

.custom-input::placeholder {
  color: #a7a7a7;
  font-size: 15px;
  font-weight: 300;
}

.form-control:focus {
  border: solid 0.5px #a7a7a7;
}

.login-invalid-input {
  margin-bottom: 30px;
}

.g-recaptcha {
  margin: 28px 0 25px;
  transform: scale(1.175);
  width: 0;
}

.input-btn {
  padding: 9px 0;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  border-radius: 2px;
  background-color: #29abe2;
  border: solid 1px #29abe2;
  cursor: pointer;
  margin-bottom: 20px;
}

.footerSignUp {
  color: #a7a7a7;
  text-align: center;
  font-weight: 300;
  line-height: 1.67;
}

.login-btn {
  margin-bottom: 15px;
}

.login-panel {
  font-weight: 300;
  text-align: center;
  color: #a7a7a7;
}

.form-header-factor {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
  text-transform: none;
}

.main-form.form-control:focus {
  color: #a7a7a7;
}

@media only screen and (max-width: 484px) {
  .form {
    width: 100%;
  }

  .main-form  {
    padding: 0 30px 20px 30px;
  }

  .window {
    height: initial;
  }

  .form-header-reset,
  .form-header-login {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 320px) {
  .main-form {
    padding: 0 15px 20px 15px;
  }

  .g-recaptcha {
    transform: scale(0.96);
    margin: 20px 0 19px;
  }
}

@media only screen and (max-height: 700px) {
  .window {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    margin: 0 auto;
  }
}
