/* stylelint-disable */
body {
  font-family: 'Open Sans', Arial, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 15px;
  background: #f6f6f6;
  color: #333;
}

.window {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 935px;
  height: 650px;
  border-radius: 4px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.15);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #fff url('../../images/loginGroup/login.svg') 0 0 no-repeat;
  background-size: contain;
}

.windowSignUp {
  background: #fff url('../../images/loginGroup/signup.svg') 0 0 no-repeat;
  background-size: 452px 100%;
}

.windowResetPassword {
  background: #fff url('../../images/loginGroup/reset1.svg') 0 0 no-repeat;
  background-size: 452px 100%;
}

.windowResetPasswordTwo {
  background: #fff url('../../images/loginGroup/reset2.svg') 0 0 no-repeat;
  background-size: 452px 100%;
}

.windowResetPasswordThree {
  background: #fff url('../../images/loginGroup/reset3.svg') 0 0 no-repeat;
  background-size: 452px 100%;
}

.windowConfirmEmail {
  background: #fff url('../../images/loginGroup/signup2.svg') 0 0 no-repeat;
  background-size: 452px 100%;
}

.form {
  width: 485px;
  background-color: #fff;
  height: 100%;
}

.login-block {
  padding: 15px 25px 0;
  font-size: 12px;
  font-weight: 300;
  color: #a7a7a7;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
}

.login-block a {
  font-size: 12px;
  font-weight: 300;
  color: #a7a7a7;
}

/*.footer a,*/
/*.login-panel a {*/
  /*color: #29abe2;*/
  /*text-decoration: underline;*/
/*}*/

.login-block .active,
.login-block a:hover {
  color: #29abe2;
  text-decoration: none;
  font-weight: 400;
}

.login-divider {
  margin: 0 18px;
}

.main-form {
  padding: 0 65px 20px 65px;
}

.form-header {
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.form-header-login {
  margin-top: 110px;
}

.form-header-login-invalid {
  margin-top: 110px;
}

.form-header-reset {
  margin-top: 200px;
}

.custom-input {
  padding: 9.5px;
  border-radius: 2px;
  background-color: #fff;
  color: #a7a7a7;
  border: solid 0.5px #a7a7a7;
  margin-bottom: 20px;
  font-weight: 300;
}

.custom-input::placeholder {
  color: #a7a7a7;
  font-size: 15px;
  font-weight: 300;
}

.form-control:focus {
  border: solid 0.5px #a7a7a7;
}

.login-invalid-input {
  margin-bottom: 30px;
}

.g-recaptcha {
  margin: 28px 0 25px;
  transform: scale(1.175);
  width: 0;
}

.input-btn {
  padding: 9px 0;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  border-radius: 2px;
  background-color: #29abe2;
  border: solid 1px #29abe2;
  cursor: pointer;
  margin-bottom: 20px;
}

.or-divider {
  display: block;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #a7a7a7;
  position: relative;
  margin-bottom: 10px;
}

.or-divider::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 11px;
  height: 1px;
  width: 40%;
  background-color: #eaeaea;
}

.or-divider::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 0;
  top: 11px;
  height: 1px;
  width: 40%;
  background-color: #eaeaea;
}

.social-title {
  color: #a7a7a7;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
}

.social-wrapper {
  text-align: center;
  margin-bottom: 35px;
}

.social-center-icon {
  margin-left: 18px;
  margin-right: 21px;
}

.footerSignUp {
  color: #a7a7a7;
  text-align: center;
  font-weight: 300;
  line-height: 1.67;
}

.login-btn {
  margin-bottom: 15px;
}

.forg-pass {
  display: block;
  color: #a7a7a7;
  text-align: center;
  margin-bottom: 30px;
}

.forg-pass:hover {
  color: #29abe2;
}

.error-message {
  height: auto;
  line-height: 22px;
  border-radius: 2px;
  background-color: #f6f6f6;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
  padding: 20px 20px 20px 40px;
}

.error-message-text {
  position: relative;
}

.error-message-text::before {
  content: '';
  display: inline-block;
  position: absolute;
  background: url('../../images/warning.svg') 0 0 no-repeat;
  width: 23px;
  height: 20px;
  top: 0;
  left: -36px;
}

.success-message {
  height: auto;
  line-height: 22px;
  border-radius: 2px;
  background-color: #f6f6f6;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
  padding: 20px 20px 20px 40px;
}

.success-message-text {
  position: relative;
}

.success-message-text::before {
  content: '';
  display: inline-block;
  position: absolute;
  background: url('../../images/success.svg') 0 0 no-repeat;
  width: 23px;
  height: 20px;
  top: 0;
  left: -36px;
}

.login-panel {
  font-weight: 300;
  text-align: center;
  color: #a7a7a7;
}

.form-header-factor {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
  text-transform: none;
}

.main-form.form-control:focus {
  color: #a7a7a7;
}

@media only screen and (max-width: 484px) {
  .form {
    width: 100%;
  }

  .main-form  {
    padding: 0 30px 20px 30px;
  }

  .window {
    height: initial;
  }

  .form-header-reset,
  .form-header-login-invalid,
  .form-header-login {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 320px) {
  .main-form {
    padding: 0 15px 20px 15px;
  }

  .g-recaptcha {
    transform: scale(0.96);
    margin: 20px 0 19px;
  }
}

@media only screen and (max-height: 700px) {
  .window {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    margin: 0 auto;
  }
}
