body {
  background: #EEEEEE;
}
.nav-pills{
  width: 200px;
  margin-top: 100px;
  position: fixed;
}
.dropServWork {
  margin-top: -242px;

}
.list-group {
  width: 500px;
}
.row .list-group-item {
  width: 500px;
  padding: 30px;
  
  font-size: 20px;
}
.rowinput {
  width: 500px;
  padding: 20px;
}
.dropCreate {
  margin-top: -170px;
}
.dropRepDep {
  margin-left: -130px;
}
.PanelCreated {


}
.dropdown .dropservButton {
  margin-top: 3px;
  margin-left: -130px;
}
li {
  width: 200px;
}
.TabList {
  width: 400px;
}
.Tab {
  width: 100px;
}
.TabPanel {
  width: 400px;
  height: 160px;
  border-bottom: 1px solid #9E9E9E;
  border-left: 1px solid #9E9E9E;
  border-right: 1px solid #9E9E9E;
}
.Tabs {
  margin-top: 40px;
}
.TabList-2 {
  width: 300px;
}
.Tab-2 {
  width: 100px;
}
.TabPanel-2 {
  width: 300px;
  height: 160px;
  border-bottom: 1px solid #9E9E9E;
  border-left: 1px solid #9E9E9E;
  border-right: 1px solid #9E9E9E;
}
.row {
  margin-top: 100px;
  width: 1100px;
  margin-left: 200px
}
.rowreferals .col-md-13 {
  margin-top: 20px;
  width: auto;
  height: 170px;
  background: #fff;
  box-shadow: 0 0 5px #BDBDBD;
}
.rowreferals .col-md-4 {
  margin-top: 20px
}
.rowreferals .col-md-2 {
  margin-top: 20px
}
.rowreferals .col-md-5 {
  margin-top: 60px;
  margin-left: -40px;
}
.rowreferals .col-md-5 li {
  width: 400px;
}
.rowreferals .col-md-1 {
  margin-top: 60px;

}
.rowreferals .col-md-1 li {
  width: 50px;
}
.rowreferals .reftabbottom .col-md-5{
  margin-top: 20px;

}
.rowreferals .reftabbottom .col-md-5{
  margin-top: 20px;

}
.rowreferals .reftabbottom{
  height: 500px;

}
.rowreferals .reftabbottom .col-md-4 .btn-default{
  margin-top: 20px;
  margin-left: 100px;

}
.rowreferals .reftabbottom .col-md-4 .nav-tabs li{
  margin-top: 40px;
  width: 100px;

}
.rowreferals .reftabbottom .col-md-4 .btnsend {
  width: 140px;
  margin-top: 40px;
  margin-left: 100px;
}
.rowreferals .reftabbottom .col-md-5 li{
  margin-left: 150px;

}
.rowreferals .reftabbottom .col-md-5 h5{
  width: 350px;
  margin-top: 30px;

}
.rowreferals .reftabbottom .col-md-5 .share{
  margin-top: 200px;

}
.rowreferals .reftabbottom .col-md-5 .form-control{
  margin-top: 40px;
  margin-left: 40px;
  width: 340px;

}
.rowreferals .reftabbottom .col-md-3 {
  box-shadow: 0 0 0;
}
.rowreferals .reftabbottom .col-md-3 .social{
  margin-top: 100px;
  width: 200px;
  height: 50px;

}
.rowreferals .reftabbottom .col-md-3 .social-2{
  margin-top: 30px;
  width: 200px;
  height: 50px;


}
.rowreferals .reftabbottom .col-md-3 .social-3{
  margin-top: 30px;
  width: 200px;
  height: 50px;



}
.rowreferals .reftabbottom .col-md-3 li{
  margin-top: 30px;
  margin-left: 50px;

}
.rowreferals .reftabbottom .col-md-4 h4{
  margin-left: 150px;


}
.navbar {
  background: white;
  position: fixed;
  width: 100%;
  height: 70px;
  margin-left: -15px;
  z-index: 10;


}
.navbar img {

}
.navbar .navbar-brand {
  position: relative;
  margin-top: -15px;
}
.navbar .dropdown {
  margin: 0px;
}
.navbar .col-md-2 {
  width: 150px;


}
.navbar .info {
  position: absolute;
  width: 100px;
  margin-left: 780px;
  margin-top: 10px;
}
.navbar .datadrop {

  width: 70px;
  margin-left: 1100px;
  margin-top: 15px;

}
.navbar .datadrop .dropdown-menu {
  margin-left: -168px;
}
.navbar .datamail {
  position: absolute;
  width: 120px;
  margin-left: 1150px;
}
.navbar .dataimg {
  margin-left: 1090px;
  position: absolute;
  margin-top: 5px;
}
.navbar .dataimg img {
  width: 50px;
  height: 50px;
}
.navbar .dataram {
  position: absolute;
  margin-left: 920px;
}
.navbar .progress {
  height: 10px;
}
.menu_dropdown .dropdown {
  margin-top: -0px;
  margin-left: -60px;
}
.dropdown-menu img{
  margin-left: -10px;
  width: 50px;
  height: 50px;
}
.navbar-brand {
  margin-top: 5px;
}
.thumbnail {
  border: 1px solid #BDBDBD;
  padding: 0px;

}
.col-md-9 {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 5px #BDBDBD;
}
.col-md-3 {
  background: #fff;
  height: 360px;
  box-shadow: 0 0 5px #BDBDBD;
}
.container {
  width: 100%;
}
.text_right {
  margin-left: 20px;
}
.text_left {
  margin-left: -40px;
}
.text_center {
  margin-top: 50px;
}
.dropdown {
  margin-top: 15px;
  margin-left: 800px;
}
.width_td {
  width: 90px;

}
.img-rounded {
  margin-left: 20px;
}
.checkbox {
  width: 20px;
  height: 20px;
  margin-left: -5px;
  position: absolute;
}
.box1-deploy {
  width: 100%;
  background: #fff;
  height: 240px;
  box-shadow: 0 0 5px #BDBDBD;
}

.box1-deploy h3 {
  margin-left: 20px;
}
.box1-deploy ul {
  margin-top: 60px;
}
.box1-deploy .col-md-3 {
  height: 225px;
  box-shadow: 0 0 0px;
}
.box1-deploy .col-md-2 .dropdown{
  margin-left: 60px;
  margin-top: 20px;
}
.box1-deploy .col-md-2 .dropdown .dropdown-menu {
  margin-top: 2px;
}
.rowpanel .panel{
  margin-top: 20px;
}
.rowcopod {
  margin-top: 20px;
  margin-left: 0px;
}
.rowcopod .col-md-13 .col-md-5 {
  height: 225px;
  background: #fff;
  box-shadow: 0 0 5px #BDBDBD;
}
.rowcopod .col-md-13 .col-md-6 {
  width: 620px;
  height: 225px;
  background: #fff;
  margin-left: 20px;
  box-shadow: 0 0 5px #BDBDBD;
}
.rowcopod .col-md-2 {
  width: 200px;
}
.servdropdown {
  margin-left: 130px;
}
.col-md-5 .servul {
  margin-top: -0px;
}
.servpanel {
  margin-top: 20px;
}
.box1-deploy .col-md-8 .secretvul {
  margin: 0;
}
.secretvul li {
  width: 500px;
}
.dropdown .secretmenudrop {
  margin-top: 2px;
}
.col-md-3 .secretdown {
  margin-left: 100px;
}
.col-md-13 .box1-secret {
  margin-top: 20px;
  width: 100%;
  background: #fff;
  height: 160px;
  box-shadow: 0 0 5px #BDBDBD;
}
.col-md-13 .box1-secret h3{

  margin-left: 30px;
}
.col-md-13 .box1-secret ul {

  margin-top: 30px;
}
.rowprofile .col-md-13 {
  height: 220px;
  background: #fff;
  margin-top: 20px;
    box-shadow: 0 0 5px #BDBDBD;
}
.rowprofile .coltoken {
  height: 250px;
  background: #fff;
  margin-top: 20px;
    box-shadow: 0 0 5px #BDBDBD;
}
.rowprofile .col-md-2 ul{
  margin-top: 60px;
}
.rowprofile .editprofile {
  margin-left: 950px;
  margin-top: -150px;
}
.rowprofile .clitool {
  margin-left: 100px;
}
.rowprofile .panel {
  margin-top: 20px;
}
.rowprofile .col-md-4 .nav-tabs {
  width: 350px;
}
.rowprofile .col-md-4 .nav-tabs li {
  width: 100px;
}
.rowprofile .col-md-4 {
  margin-top: 10px;
  margin-left: 200px;
}
.rowprofile .colmail {
  height: 170px;
  background: #fff;
  margin-top: 20px;
    box-shadow: 0 0 5px #BDBDBD;

    margin-bottom: 30px;
}
.panel .dropdown-menu {
  margin-left: -90px;
  width: 100px;
}
.panel .dropdown-menu li{

  width: 158px;
}
.formcontainer {
  width: 600px;
  height: 400px;
  border: 1px solid #9E9E9E;
  margin-left: 180px;
  margin-top: 30px;
  border-radius: 20px;
}
.rowform h1 {
  margin-top: -50px;
  margin-left: 420px;
}
.rowform img {
  margin-top: -50px;
  margin-left: 340px;
}
.rowform .formcontainer h2{
  margin-left: 240px;
  margin-top: 50px;
}
.rowform .formcontainer .form-control {
  width: 300px;
  margin-left: 140px;

}
.rowform .formcontainer h5 {
  margin-left: 240px;
}
.rowform .formcontainer .conh5 {
  margin-left: -50px;
}
.rowform h5 {
  margin-left: 380px;
}
.rowform .formcontainer .forminput {
  margin-top: 70px;
}
.rowform .formcontainer .btn-default {
  margin-left: 140px;
  width: 300px;
  height: 50px;
}
.rowform .formcontainer .resh2 {
  margin-left: 180px;
}
