@import '../../theme/variables';

.td {
  &_1_Domains {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_2_Domains {
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_3_Domains {
    width: 45px;
    vertical-align: top;
    text-align: center !important;
  }
}

.domains {
  &Table {
    width: 100%;
    table-layout:fixed;
    height: 210px;
    margin-bottom: 0;
    overflow: auto !important;
  }

  thead {
    td {
      padding-top: 3px;
      padding-bottom: 3px;
      font-weight: 400;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  tbody {
    overflow-y: scroll;
    height: 123px;
    width: 95.7%;
    position: absolute;

    td {
      padding: 4px 0 4px 10px;
      max-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:last-child {
        overflow: initial;
      }
    }
  }
}
