@import '../../theme/variables';

tbody tr:hover .td {
  &_4_Membership {
    .NavDropDownClose {
      background: #f6f6f6;
    }
  }
}

tbody tr .td {
  &_1_Membership {
    width: 52px;
    padding-left: 30px;
    font-weight: normal;
  }

  &_2_Membership {
    width: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_3_Membership {
    width: 280px;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &_4_Membership {
    text-align: justify;
    padding: 0 !important;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;

    .NavDropDownWrapper:hover {
      .firstChildOfNav::after {
        transform: rotate(180deg);
        border-color: #29abe2 transparent transparent transparent;
      }
    }

    .NavDropDownClose {
      position: absolute;
      width: 100%;
      background: #fff;
      top: 0;
    }

    .NavDropDownOpen {
      position: absolute;
      width: 100%;
      background: #fff;
      z-index: 1000;
      top: 0;
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
    }

    .firstChildOfNav {
      height: 42px;
      padding: 10px 0 10px 25px;
    }

    .firstChildOfNav::after {
      content: ' ';
      display: block;
      position: absolute;
      top: 23px;
      right: 15px;
      margin-top: -3px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #808080 transparent transparent transparent;
    }

    .firstChildOfNav:hover {
      background-color: #fafafa;
    }

    .NavItemDropDownOpen {
      display: block;
      height: 42px;
      padding: 10px 0 10px 25px;
    }

    .NavItemDropDownOpen:hover {
      background: #fafafa;
    }

    .NavItemDropDownOpen:last-child {
      margin-bottom: 10px;
    }

    .NavItemDropDownClose {
      display: none;
    }
  }

  &_4_Membership:hover {
    background: #fafafa !important;

    .firstChildOfNav::after {
      border-color: #29abe2 transparent transparent transparent;
    }
  }

  &_5_Membership {
    width: 45px;
    vertical-align: top;
    text-align: center !important;
  }
}

.membership {
  &BtnContainer {
    display: flex;
    align-items: center;
  }
}
