@import '../../theme/variables';

.modal {
  &RedisText {
    display: inline-block;
    font-weight: 300;
    line-height: 1.67;
    margin-bottom: 15px;

    &Light {
      font-size: 12px;
      font-weight: 300;
      color: $ligth-gray-color;
    }
  }

  &Input {
    color: $ligth-gray-color !important;
    border: none;
    padding-left: 0;
    padding-bottom: 5px;
    border-bottom: 2px solid $very-light-gray;
    border-radius: 0;

    &::placeholder{
      color: $very-light-gray;
    }

    &:focus {
      border-top: none !important;
      border-right: none !important;
      border-left: none !important;
      border-bottom: 2px solid $main-color !important;
      border-radius: 0 !important;
    }

    &:hover {
      border-bottom-color: $ligth-gray-color;
    }
  }

  &Title {
    font-size: 20px;
    line-height: 0.75;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &Body {
    text-align: center;
    padding: 0 30px 30px 30px;
  }

  &Header {
    display: block;
    border-bottom: none;
    padding: 15px 15px 0;
  }

  &Footer {
    justify-content: center;
    padding: 30px;
  }

  &Content {
    border: none;
  }

  &Dialog {
    &Create {
      max-width: 430px;
    }
  }
}

.membership {
  &Alert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    border-radius: 2px;
    background-color: $color-white2;
    border: solid 1px $color-white2;
    padding: 15px;
    margin-bottom: 30px;
    margin-top: 15px;

    &Item {
      margin-right: 15px;
      color: $color-dark-gray;
    }
  }

  &Menu {
    border: none;
    cursor: pointer;
  }

  &Select {
    cursor: pointer;

    &:focus {
      box-shadow: none;
    }
  }
}

.runSolutionModalDialog {
  max-width: 1170px !important;
}

.runSolutionModal {
  &Content {
    border: none;
    margin-bottom: 30px;
  }

  &Header {
    height: 50px;
    display: flex;
    border-bottom: 1px solid #eaeaea;
    background-color: #f6f6f6;
    border-radius: 4px 4px 0 0;
  }

  &Body {
    padding: 0 50px !important;
    height: 80px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05);
  }

  &MainContent {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: auto;
    min-height: 400px;
  }

  &ModalList {
    display: inline-block;
    width: 20%;
    background-color: #f6f6f6;
    border-right: 1px solid #eaeaea;
    list-style: none;
    padding-top: 28px;
    padding-left: 50px;
    margin-bottom: 0;
    border-radius: 0 0 0 0.3rem;

    li a {
      display: inline-block;
      font-weight: 300;
      margin-bottom: 10px;
    }

    li a.active {
      color: #29abe2;
    }
  }
}
